---
import Hero from "@/components/hero";
import Layout from "../layouts/Layout.astro";
import About from "@/components/about";
import Projects from "@/components/projects";
---

<Layout>
  <div class="space-y-10 sm:space-y-16">
    <Hero client:load />
    <Projects client:load />
    <About client:load />
  </div>
</Layout>
