---
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'

import '@/globals.css'

import '@fontsource-variable/onest'
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-light.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />

    <title>Portafolio de Jason Vila - Desarrollador Full Stack</title>
    <meta
      name="description"
      content="Portafolio de Jason Vila, desarrollador Full Stack. Descubre proyectos, habilidades y contacto para colaboración y aprendizaje."
    />
  </head>
  <body class="min-h-screen w-full bg-background">
    <Header />
    <main class="space-y-10 sm:space-y-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
