---
import Footer from "@/components/footer";
import Navbar from "@/components/navbar";
import "../styles/globals.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-light.svg"
      media="(prefers-color-scheme: dark)"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Portafolio de jaycodev - Desarrollador Front-end</title>

    <script is:inline>
      (function () {
        try {
          const theme =
            localStorage.getItem("theme") ||
            (window.matchMedia("(prefers-color-scheme: dark)").matches
              ? "dark"
              : "light");
          document.documentElement.classList.add(theme);
        } catch (e) {}
      })();
    </script>

    <meta name="theme-color" content="oklch(0.141 0.005 285.823)" />

    <script is:inline>
      document.addEventListener("DOMContentLoaded", function () {
        try {
          const theme =
            localStorage.getItem("theme") ||
            (window.matchMedia("(prefers-color-scheme: dark)").matches
              ? "dark"
              : "light");

          const meta = document.querySelector('meta[name="theme-color"]');
          if (meta) {
            meta.content =
              theme === "dark" ? "oklch(0.141 0.005 285.823)" : "oklch(1 0 0)";
          }
        } catch (e) {}
      });
    </script>
  </head>
  <body>
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>
