---
import { cn } from '@/lib/utils'

interface Props {
  variant?: 'primary' | 'secondary'
  class?: string
  [key: string]: any
}

const { variant = 'primary', class: className = '', ...rest } = Astro.props as Props

const variants =
  variant === 'primary'
    ? 'text-white dark:text-gray-800 bg-gray-800 hover:bg-gray-700 border dark:bg-gray-100 dark:hover:bg-gray-200 border-gray-800 dark:border-gray-100'
    : 'text-gray-800 bg-gray-100 hover:bg-gray-200 border dark:bg-white/5 dark:hover:bg-white/10 dark:text-white'
---

<button
  class={cn(
    'inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-full text-sm font-medium transition-all outline-none cursor-pointer h-9 px-4 has-[>svg]:px-3 py-2',
    variants,
    className
  )}
  {...rest}
>
  <slot />
</button>
