---
import Spain from '@/components/flags/Spain.astro'
import UnitedStates from '@/components/flags/UnitedStates.astro'
import type { Language } from '@/i18n'

interface Props {
  currentLang: Language
}

const { currentLang } = Astro.props
---

<div class="relative ml-1 mr-1">
  <a
    href={currentLang === 'es' ? '/en' : '/'}
    transition:persist
    id="language-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition cursor-pointer"
  >
    <span class="sr-only">Elige el idioma</span>
    <Spain
      id="es-flag"
      class:list={[
        'language-toggle-icon size-4',
        currentLang === 'es' ? 'opacity-100' : 'opacity-0 absolute pointer-events-none',
      ]}
    />
    <UnitedStates
      id="en-flag"
      class:list={[
        'language-toggle-icon size-4',
        currentLang === 'en' ? 'opacity-100' : 'opacity-0 absolute pointer-events-none',
      ]}
    />
  </a>
</div>

<script>
  function updateLanguageToggle() {
    const currentPath = window.location.pathname
    const lang = currentPath.startsWith('/en') ? 'en' : 'es'

    const button = document.getElementById('language-toggle-btn') as HTMLAnchorElement
    const esFlag = document.getElementById('es-flag')
    const enFlag = document.getElementById('en-flag')

    if (!button || !esFlag || !enFlag) return

    button.href = lang === 'es' ? '/en' : '/'

    if (lang === 'es') {
      esFlag.classList.add('opacity-100')
      esFlag.classList.remove('opacity-0', 'absolute', 'pointer-events-none')
      enFlag.classList.remove('opacity-100')
      enFlag.classList.add('opacity-0', 'absolute', 'pointer-events-none')
    } else {
      enFlag.classList.add('opacity-100')
      enFlag.classList.remove('opacity-0', 'absolute', 'pointer-events-none')
      esFlag.classList.remove('opacity-100')
      esFlag.classList.add('opacity-0', 'absolute', 'pointer-events-none')
    }
  }

  document.addEventListener('DOMContentLoaded', updateLanguageToggle)

  document.addEventListener('astro:after-swap', updateLanguageToggle)
</script>
